#grid {
	// padding-top: 50px;
	height: 1300px;
	// padding-left: 20px;
	// width: 80%;
	// margin: 0 auto;
	// text-align: center;
}
.row-1 {
	position: relative;
	height: 200px;
	border: 2px solid red;
	.details-row-1 {
		position: absolute;
		height: 200px;
		background: yellow;
		width: 100%;
		top: 200px;
		opacity: 0;
		&.open {
			opacity: 1;
		}
	}
}

.row-2 {
	border: 2px solid green;
	height: 200px;	
	position: relative;
	&.open {
		transform: translate3d(0,200px,0);	
	}
}

.row-x {
	height: 200px;
	border: 2px solid green;
	// background:red;
	transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
	&.open {
		transform: translate3d(0,200px,0);	
	}
}