// form
#event-node-form {
	padding: 28px;
	border: 2px solid $secondary-color;
	margin-bottom: 49px;
	#edit-field-media-type-und {
		input {
			margin: 0;
		}
	}
	button#edit-field-featured-image-und-0-upload-button {
		border: 2px solid $secondary-color;
		background: #fff;
		color: #000000;
		padding: 0.4rem 1rem;
		font-size: 0.8rem;
		margin-top: 7px;
	}
}

.field-name-field-place-of-the-event, .field-name-field-event-date {
	.field-label {
		display: inline-block;
	}
}

//list
.view-id-events {
	.view-content {
		padding: rem-calc(14);
		.row.event {
			border: 2px solid $secondary-color;
			padding: rem-calc(14) 0;
			height: 170px;
		}
	}
}