.view-id-faq.view-display-id-page {
	.view-content {
		border: 2px solid $primary-color;
		padding-bottom: rem-calc(28);
		padding-top: rem-calc(28);
		margin-bottom: rem-calc(28);
	}
}

.row.faq {
	margin-top: rem-calc(14);
	.medium-2 {
		height: 100%;
		border-right: 2px solid $primary-color;
		position: relative;
		.question {
			@include text-v;
			border-radius: 50%;
			background-color: $secondary-color;
			height: 60px;
			width: 60px;
			float: right;
			h1 {
				color: #fff;
				margin: 0;
			}
		}
	}
}
