footer {
	background-color: $secondary-color;
	color: #fff;
	.row {
		padding-top: rem-calc(14);
		height: 87px;
		.columns {
			@include text-v;
		}
	}
	&.down {
		transform: translate3d(0,320px,0);	
		z-index:1;
	}
}