.full-fpi {
	.row {
		padding-top: rem-calc(120);
		.small-8 {
			padding: rem-calc(42) 0;
			text-align: justify;
		}
	}
	border-bottom: 1px solid $custom-black;
}

main {
	padding-top: 10%;
	min-height: 86vh;
}

h3.title {
	display:none;
}

.br {
	border-right: 1px solid rgba(0,0,0,0.2);
}
