#grid {
	padding-top: 3em;
	height: 1412px;
	.fpi-row {
		position:relative;
		z-index:2;
		transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
		padding-bottom: rem-calc(14);
		&.down {
			transform: translate3d(0,360px,0);	
			z-index:1;
		}
		ul.fpi-ul li {
			>div {
				img {
					width: 160px;
				}
				h5 {
					position: relative;
					top: 14%;
					transform: translateY(-50%);
				}
				cursor: pointer;
				padding: rem-calc(14) rem-calc(7) rem-calc(7) rem-calc(7);
				border: 2px solid $primary-color;
				box-sizing: border-box;
				height: 240px;
				position: relative;
				&:hover, &.highlight {
					padding-top: 3px;
					border: 6px solid $primary-color;
					.ion-plus-circled {
						visibility: visible;
					}
				}
				.ion-plus-circled {
					cursor: pointer;
					color: $secondary-color;
					position: absolute;
					bottom: -1em;
	    		margin-left: auto;
	    		margin-right: auto;
	    		left: 0;
	    		right: 0;
	    		visibility: hidden;
	    		&:before {
	    			border-radius: 50%;
	    			background: #fff;
	    		}
				}
			}
		}
		.details-box {
			position: absolute;
			height: 330px;
			width: 100%;
			margin-top: 21px;
			opacity: 0;
			&.open {
				opacity: 1;
			}
			.detail-box {
				margin-top: -21px;
				z-index:1;
				position: relative;
				padding-left: rem-calc(28);
				padding-right: rem-calc(14);
				.ctas-grid {
					height: 200px;
					width: 40%;
					float: left;
					a {
						@include text-v;
						margin: 0 auto;
						width: 240px;
						i {
							color: $secondary-color;
							vertical-align: middle;
						}
					}	
				}
			}
		}
	}
	.details-box {
		border: 2px solid $primary-color;
		margin-bottom: 1.5em;
		height: 300px;
		background: lighten($primary-color, 22%);
		.close {
			z-index:3;
			position: relative;	
			.ion-close-circled {
				color: $primary-color;
				cursor: pointer;
			}
		}
		.full-text {
			background: #fff;
			height: 270px;
			float: left;
			width: 60%;
			padding: rem-calc(14);
			position: relative;
			text-align: justify;
			transform-style: preserve-3d;
			p {
				@include text-v;
			}
			i {
				position: absolute;
				right: 0;
				bottom: 0;
				color: #fff;
				background-color: $secondary-color;
				padding: rem-calc(3) rem-calc(7);
			}
		}
	}
}