.view-id-multimedia.view-id-multimedia {
  padding-bottom: 14%;
  .small-block-grid-2.medium-block-grid-4 {
    border: 2px solid $secondary-color;
    margin-top: rem-calc(28);
    margin-left: 0;
    margin-right: 0;
    padding-top: rem-calc(28);
    a {
    	display: block;
    }
  }
}

// form
#multimedia-node-form {
	margin-bottom: 49px;
	#edit-field-media-type-und {
		input {
			margin: 0;
		}
	}
	a.browse.button {
		border: 2px solid $secondary-color;
		background: #fff;
		color: #000000;
		padding: 0.4rem 1rem;
		font-size: 0.8rem;
		margin-left: -10px;
		&:hover, &:focus {
			border: 2px solid $secondary-color;
			background: #fff;
			color: #000000;
		}
	}
}

//gallery 

