#banner {
	.row {
		.banner {
			padding: 100px 0 0 0;
		}
	}
}

#grid {
	padding-top: 3em;
	ul.fpi-row li {
		>div {
			padding: 7px;
			border: 2px solid $primary-color;
			box-sizing: border-box;
			height: 100px;
			position:relative;
			&:hover {
				padding-top: 3px;
				border: 6px solid $primary-color;
				.ion-plus-circled {
					visibility: visible;
				}
			}
			.ion-plus-circled {
				cursor: pointer;
				color: $secondary-color;
				position: absolute;
				bottom: -1em;
    		margin-left: auto;
    		margin-right: auto;
    		left: 0;
    		right: 0;
    		visibility: hidden;
    		&:before {
    			border-radius: 50%;
    			background: #fff;
    		}
			}
		}
	}
	.details-box {
		border: 2px solid $primary-color;
		margin-bottom: 1.5em;
		height: 300px;
		background: lighten($primary-color, 22%);
		.ion-close-circled {
			color: $primary-color;
			cursor: pointer;
		}
		.row .full-text {
			background: #fff;
			height: 250px;
			text-align: justify;
			transform-style: preserve-3d;
			h5 {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}