// foundation
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.block {
	display: block;
}

.text-muted {
  color: white;
}

// Custom type
.h5 {
  font-size: $h5-font-size;
}

.lh-1-1 {
  line-height: 1.1;
}


// Margins
@for $h from -7 to 11 {
  .m-#{$h*7} {
    margin: rem($h*7)!important;
    margin: ($h*7) + px !important;
  }
}

@for $i from -7 to 11 {
  .mt-#{$i*7} {
    margin-top: ($i*7) + px !important;
    margin-top: remify($i*7)!important;
  }
}

@for $j from -7 to 11 {
  .mb-#{$j*7} {
    margin-bottom: rem($j*7)!important;
    margin-bottom: ($j*7) + px !important;
  }
}

@for $k from -7 to 11 {
  .ml-#{$k*7} {
    margin-left: rem($k*7)!important;
    margin-left: ($k*7) + px !important;
  }
}

@for $l from -7 to 11 {
  .mr-#{$l*7} {
    margin-right: remify($l*7);
    margin-right: ($l*7) + px;
  }
}

// Paddings
@for $m from -7 to 11 {
  .pt-#{$m*7} {
    padding-top: remify($m*7);
    padding-top: ($m*7) + px;
  }
}

@for $n from -7 to 11 {
  .pb-#{$n*7} {
    padding-bottom: remify($n*7);
    padding-bottom: ($n*7) + px;
  }
}

@for $o from -7 to 11 {
  .pl-#{$o*7} {
    padding-left: remify($o*7);
    padding-left: ($o*7) + px;
  }
}

@for $p from -7 to 11 {
  .pr-#{$p*7} {
    padding-right: remify($p*7)!important;
    padding-right: ($p*7) + px !important;
  }
}

@for $q from -7 to 11 {
  .p-#{$q*7} {
    padding: rem($q*7)!important;
    padding: ($q*7) + px !important;
  }
}

// icons
@for $q from 1 to 5 {
  .x#{$q} {
    font-size: $q + rem !important;
  }
}

//
.custom-button-class { 
  @include button;
  border: 2px solid $secondary-color;
  background: #fff;
  color: #000000;
  padding: remify(7) remify(21);
  &:hover {
    background: #fff;
    color: #000000;
  }
}